@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
	font-family: 'Roboto', sans-serif;
}
header{
	margin: 0 auto;
	width: 1577px;
	display: flex;
	justify-content: space-between;
}
a{
	color: black;
	font-size: 18px;
	text-decoration: none;
	transition: .2s all ease;
}
a:hover{
	transform: scale(1.4);
}
.login{
	display: block;
	margin: auto;
	text-align: center;
}
.registration{
	display: block;
	margin: auto;
	text-align: center;
}
.user{
	text-align: center;
}
.news{
	text-align: center;
}
.vacancy{
	text-align: center;
}
.nextLink{
	text-align: center;
}
footer{
	margin: 0 auto;
	display: flex;
	width: 1577px;
	justify-content: space-between;
	align-items: center;
}